* {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: transparent;
}

.sidebar,
.admin-button,
footer,
header {
  display: none;
}

.sort-icon,
.fa-trash,
.fa-pen-to-square,
.fa-whatsapp,
.fa-paper-plane {
  display: none;
}

.container {
  margin: 0;
  transform: scale(1.0);
  background-color: transparent;
  box-shadow: none;
  height: min-content;
}

.container h2 {
  display: none;
}

.container h4 {
    display: none;
}

td {
    font-size: 1.2vh;
    padding: 0.5vh;
}

th {
    font-size: 1.3vh;
    padding: 0.5vh;
}

th:nth-child(4),
td:nth-child(4) {
    display: none !important;
}

th:nth-child(5),
td:nth-child(5) {
    display: none !important;
}